{% extends 'base.html' %}
{%load static from static%}


<!-- HEADER =============================-->
{% block pageheader %}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="text-pageheader">
                <div class="subtext-image" data-scrollreveal="enter bottom over 1.7s after 0.0s">
                    پروفایل کاربری {{user.profile.name}}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock pageheader %}

<!-- Content =============================-->
{% block content %}
<section class="item content">
    <div class="container toparea">
        <div class="underlined-title">
            <div class="editContent">
                <h1 class="text-center latestitems">{{user.profile.name}}</h1>
            </div>
            <div class="wow-hr type_short">
			<span class="wow-hr-h">
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="productbox">
                <div class="image-container">
                    <img src="{{user.profile.profile_pic.url}}" alt="">
                </div>
                <div class="clearfix">
                </div>
                <br/>
            </div>
        </div>
        <div class="col-md-4">
            <div class="properties-box">
                <ul class="unstyle" dir="rtl">
                    <li><b class="propertyname">نام: </b>{{user.profile.name}}</li>
                    <li><b class="propertyname">شماره تماس:</b>{{user.profile.number}}</li>
                    <li><b class="propertyname">ایمیل: </b>{{user.email}}</li>
                </ul>

                <div class="form-group">
    <table>
    <form method="POST" action="{% url 'update_profile' %}">
        {% csrf_token %}
        {{user_form.as_p}}
        {{profile_form.as_p}}
        <button class="btn btn-secondary" type="submit">
            پروفایل
        </button>
        </div>
</table>
        </button>
    </form>
</div>

                </div>
            </div>
        </div>
    </div>
    </div>
</section>



<!--Edit user modal-->
	<div class="modal fade" tabindex="-1" id="profileModal" role="dialog">
	  	<div class="modal-dialog" role="document">
		    <div class="modal-content">
		      	<div class="modal-header">
			        <h5 class="modal-title">Edit Profile</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
		        </div>
		        <div class="modal-body">
			        <form method="post">
			          	{% csrf_token %}
			          	{{ user_form }}
		        </div>
		      	<div class="modal-footer">
		        		<button type="submit" class="btn btn-primary">Save changes</button>
		        	</form>
		        	<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		        </div>
		    </div>
	  	</div>
	</div>


<section class="item content">
    <div class="container">
        <div class="underlined-title">
            <div class="editContent">
                <h1 class="text-center latestitems">تاریخچه سفارشات</h1>
            </div>
            <div class="wow-hr type_short">
			<span class="wow-hr-h">
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			</span>
            </div>
        </div>
        <div class="underlined-title">
            <div class="editContent">
                <div id="edd_checkout_wrap" class="col-md-8 col-md-offset-2">
                    <form id="edd_checkout_cart_form" method="post">
                        <div id="edd_checkout_cart_wrap">
                            <table id="edd_checkout_cart" class="ajaxed">
                                <thead>
                                <tr class="edd_cart_header_row">
                                    <th class="edd_cart_item_name">
                                        سفارش
                                    </th>
									<th class="edd_cart_item_name">
                                        قیمت
                                    </th>
                                    <th class="edd_cart_item_name">
                                        تاریخ
                                    </th>
                                    <th class="edd_cart_item_price">
                                        وضعیت پرداخت
                                    </th>
                                </tr>
                                </thead>
                                {% for order in orders %}
                                <tbody>
                                <tr class="edd_cart_item" id="edd_cart_item_0_25" data-download-id="25">
                                    <td class="edd_cart_item_name">
                                        <span class="edd_checkout_cart_item_title">{{order.id}}</span>
                                    </td>
                                    <td class="edd_cart_item_price">
                                        {{order.price_with_coupon_discount}}
                                    </td>
                                    <td class="edd_cart_item_price">
                                        {{order.ordered_date}}
                                    </td>
                                    <td class="edd_cart_actions">
										{% if order.paid is True %}
										پرداخت شده
										{% else %}
										در انتظار پرداخت
										{% endif %}
                                    </td>
                                </tr>
                                </tbody>
                                {% endfor %}
							</table>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock content %}