{% extends "base.html" %}
{% load static %}

{% block body %}

<main class="mt-5 pt-4">
    <div class="container mt-5 book_detail">

        <!--Grid row-->
        <div class="row wow fadeIn">

            <!--Grid column-->
            <div class="col-md-6 mb-4 card">
                <!--Content-->
                <div class="p-4">
                    <h4><strong>{{object.title}}</strong></h4>
                    <p>{{object.description}}</p>
                    <p>
                        {% if object.discount %}
                  <span><s class="discount">{{object.price}}</s></span>
                  {{object.get_final_price}} ریال
                  {% else %}
                  <span>{{object.price}} ریال</span>
                  {% endif %}
                    </p>





                    <!--            <form class="d-flex justify-content-left">-->
                    <!--              &lt;!&ndash; Default input &ndash;&gt;-->
                    <!--              <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">-->
                    <!--              <button class="btn btn-primary btn-md my-0 p" type="submit">Add to cart-->
                    <!--                <i class="fas fa-shopping-cart ml-1"></i>-->
                    <!--              </button>-->

                    <!--            </form>-->
                    <a href="{% url 'add_to_cart' object.id %}" class="btn btn-primary btn-md my-0 p">Add to cart
                        <i class="fas fa-shopping-cart ml-1"></i>
                    </a>
                    <a href="{% url 'remove_from_cart' object.id %}" class="btn btn-primary btn-md my-0 p">
                        remove from cart
                        <i class="fas fa-shopping-cart ml-1"></i>
                    </a>

                </div>
                <!--Content-->

            </div>
            <!--Grid column-->

             <!--Grid column-->
            {% if object.image %}
            <div class="col-md-4 mb-4">
                <img src="{{ object.image.url}}" class="img-fluid"
                     alt="">
            </div>
            {% endif %}
            <!--Grid column-->

        </div>

    </div>
</main>
<!--Main layout-->

{% endblock body %}
