@font-face {
  font-family: "Vazir";
  src: url("fonts/Vazir.eot"); /* IE9 Compat Modes */
  src: url("fonts/Vazir.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("fonts/Vazir.woff2") format("woff2"),
    /* Super Modern Browsers */ url("fonts/Vazir.woff") format("woff"),
    /* Pretty Modern Browsers */ url("fonts/Vazir.ttf") format("truetype"); /* Safari, Android, iOS */
}

body {
  background-image: url(night.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  font-family: "Vazir", Arial, Helvetica, sans-serif;
  color: white;
}

.container {
  background-color: white !important;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 2000px;
}

.card {
  color: black;
}

/* .ss {
  display: flexbox;
  justify-content: center;
} */

/* .btn {
  background-color: black;
}

btn:hover {
  background-color: #fff;
  color: black;
} */
